/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
#background {
  width: 750px;
  height: 500px;
  background-image: url('IMG_4328.JPG');
  background-size: 100% auto;
}
